html {
    font-size: 100%;
    }
    
    body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    place-items: center;
    background: rgb(224, 224, 224);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    }
    
    p {
    margin-bottom: 1rem;
    }
    
    h1{
      background: rgb(11, 108, 161);
      color: white;
      font-size: 27px;
      text-align: left;
      padding-left: 20px;

    
    }

    .header {
      margin-bottom: 5px;
      
    }

    .h3 {
    margin: 1.38rem 0;
    font-size: 1.424rem;
    }
    
    #tip-calculator {
      justify-content: center;
    margin-bottom: 10px;
    margin: auto;
    margin-top: 100px;
    width: 80%;
    max-width: 350px;
    padding: 1rem;
    background: white;
    border-radius: 0.3rem;

    
    }
    
    #output {
    text-align: center;
    box-shadow: 0 0 20px rgba(28, 147, 244, 0.984);
    padding: 10px;
    color: rgb(9, 73, 171);
    }
    
    form {
    /* border-top: 1px solid rgba(28, 147, 244, 0.984); */
    justify-content: center;
    }
    
    label {
    display: block;
    }
    button {
      width: 100%;
      cursor: pointer;
      padding: 25px 0;
      margin-bottom: 20px;
      color: white;
      background-color: rgba(28, 147, 244, 0.984);
      border-radius: 4px;
      font-size: 30px;
      font-weight: bold;
    }

    #billtotal {
      text-align: center;
      margin: auto;
      font-size: 30px;
      font-weight: bold;
    }

    input[type="number"] {
    width: 100%;
    max-width: 4em;
    background: none;
    border: none;
    font-size: 20px;
    color: rgba(28, 147, 244, 0.984);
    border-bottom: 1px dashed black;
    
    /* Hide spinners and steppers - Firefox */
    -moz-appearance: textfield;
    }
    
    /* Hide spinners and steppers - Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    
    #people {
    max-width: 3em;
    }
    
    #percentage {
    -webkit-appearance: none;
    width: 100%;
    margin: 2rem 0;
    height: 10px;
    background: rgba(28, 147, 244, 0.984);
    border-radius: 3px;
    }
    
    #percentage::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(28, 147, 244, 0.984);
    background: hsl(255, 14%, 66%);
    cursor: pointer;
    }
    
    #percentage::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: hsl(149, 31%, 98%);
    border-radius: 50%;
    cursor: pointer;
    }